.powerPlanSelection {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 100;
  background-color: var(--mantine-color-dark-8);
  border-left: 1px solid var(--mantine-color-dark-3);
  border-top: 1px solid var(--mantine-color-dark-3);
}

.valuesWidth {
  min-width: 12rem;
}
